body {
    color: #333333; /* Garde le texte en gris foncé pour contraster */
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url('background-travel.jpg'); 
    height: 100vh;
    background-position: center;
    background-size: cover;
}

header {
   
    font-family: 'Times New Roman', serif;
    padding: 10px;
    text-align: center;
}

header h1 {
    color: #ffffff;
}

/* Styles existants pour 'nav' */
nav {
    border-bottom: 1px solid #4559f6;
    text-align: center; /* Centrage du texte */
    display: flex; /* Utilisation de Flexbox pour aligner les éléments */
    justify-content: center; /* Centrage horizontal des éléments dans la barre de navigation */
    align-items: center; /* Centrage vertical des éléments */
    width: 100%; /* Barre de navigation sur toute la largeur */
}

/* Styles pour 'nav' */
nav {
    background-color: transparent; 
    padding: 10px;
    border-bottom: 0px; /* Bleu plus foncé pour la bordure */
    text-align: center; /* Centrage du texte */
    display: flex; /* Utilisation de Flexbox pour aligner les éléments */
    justify-content: center; /* Centrage horizontal des éléments dans la barre de navigation */
    align-items: center; /* Centrage vertical des éléments */
    width: 100%; /* Barre de navigation sur toute la largeur */
}

/* Styles pour les liens dans 'nav' */
nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px; /* Espacement uniforme autour des liens */
}

nav a:hover {
    background-color: #0292c0; /* Bleu clair pour le survol */
    color: #ffffff;
    border-radius: 5px; /* Arrondir les coins lors du survol */
}

/* Styles pour la barre de recherche */
.search-bar {
    padding: 5px;
    margin-left: 10px; /* Espacement à gauche de la barre de recherche */
}

.search-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #0292c0; /* Bordure bleue pour la barre de recherche */
}

.search-button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #005f73; /* Bleu plus foncé pour le bouton de recherche */
    color: #ffffff;
    cursor: pointer;
}

.search-button:hover {
    background-color: #004a5e; /* Bleu encore plus foncé pour le survol */
}


article {
    background-color: #dcf7ff; 
    font-family: 'Times New Roman', serif;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto; /* Top and bottom margin as 10px, left and right as auto to center */
    width: 60%; /*  width */
    box-shadow: 0px 0px 10px 0px #aaa; /* Shadow for 3D effect */
}

article h2 {
    color: #333333;
}
form label {
    color: #333333;
}

form input {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444444;
    background-color: #f5f5f5; /* fond plus clair pour les champs de saisie */
    color: #333333;
}

form input[type="submit"] {
    font-family: 'Times New Roman', serif;
    background-color: #20b5b5; /* couleur teal pour le bouton de soumission */
    margin: auto;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #20b2aa; /* couleur teal plus claire au survol */
}
