p {
  padding-top:2px;
  padding-left:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size : large;
}

h1 {
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }

header {
    border-radius: 30px 30px 0px 0px;
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

article {
    border-radius: 15px 0px 30px 5px;
    float: right;
    margin: 0 auto;
    width: 64.5%;
    height: 600px;
    background-color: #f1f1f1;
  }

nav {
    border-radius: 0px 15px 5px 30px;
    float: left;
    width: 34.5%;
    background: #ccc;
    margin: 0 auto;
    height: 600px;
  }

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size : medium;
  margin: 8px 10px;
}
input[type=text], select {
    width: 95%;
    padding: 20px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=tel], select {
    width: 95%;
    padding: 20px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width:95%;
    background-color: #4CAF50;
    color: white;
    padding: 20px 20px;
    margin: 7px 10px;
    border: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
  }
  
input[type=submit]:hover {
    background-color: #45a049;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 98%;
    margin: 7px 10px;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    opacity: 0.7;
    transition: 0.3s;
  }

  th:hover {
    opacity: 1;
    background-color: #4CAF50;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 45%;
    text-align: center;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    transition: 0.3s;
  }
  
  .btn:hover {opacity: 1}

  #myInput {
    background-image: url('https://www.w3schools.com/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 98%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 98%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }
  body {font-family: Arial, Helvetica, sans-serif;}

.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}

.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 98%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.centere {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}