<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Rechercher un contact</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<header>
<h2>Rechercher un contact</h2>
</header>

<section>
  <nav>
    <form action="{{ url_for('ajouter') }}"> <!---->
      <input type="submit" value="Ajouter un contact" />
   </form>
    <form action="{{ url_for('recherche') }}">
      <input type="submit" value="Rechercher un contact" />
   </form>
    <form action="{{ url_for('supprimer') }}">
      <input type="submit" value="Supprimer un contact" />
   </form>
    <form action="{{ url_for('annuaire') }}">
      <input type="submit" value="Annuaire" />
    </form>
    <form action="{{ url_for('tutoriel') }}">
      <input type="submit" value="Comment utiliser?" />
    </form>
  </nav>
<article>
  <br>
  <form action="http://localhost:5000/recherche_resultat" method="post">
    <label for="nom">Nom</label>
    <input type="text" name="nom" id="nom" placeholder="Votre nom..." required="required"/>

    <label for="pré">Prénom</label>
    <input type="text" name="prenom" id="pré" placeholder="Votre prénom..." required="required"/>

    <input type="submit" value="Envoyer" />
</form>

</article>
</section>
</html>