<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Supprimer un voyage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css2.css') }}">
</head>
<header>
  <h2>Supprimer un voyage</h2>
</header>

<section>
    <nav>
        <form action="{{ url_for('creer_compte') }}">
            <input type="submit" value="Créer un compte client" />
        </form>
        <form action="{{ url_for('affichedestinations') }}">
            <input type="submit" value="Consulter les destinations " />
        </form>
        <form action="{{ url_for('afficheExcursion') }}">
            <input type="submit" value="Consulter les excursions " />
        </form>
        <form action="{{ url_for('affichelogement') }}">
            <input type="submit" value="Consulter les Hotels " />
        </form>
        <form action="{{ url_for('ajoutvoyage') }}">
            <input type="submit" value="Ajouter un voyage " />
        </form>
        <form action="{{ url_for('ajoutExcursion') }}">
            <input type="submit" value="Ajouter une excursion au voyage" />
        </form>
        <form action="{{ url_for('consultervoyage') }}">
            <input type="submit" value="Consulter les voyages à votre nom" />
        </form>
        <form action="{{ url_for('consulterExcursion') }}">
            <input type="submit" value="Consulter les exursions à votre nom" />
        </form>
        <form action="{{ url_for('supprimer') }}">
            <input type="submit" value="Supprimer un voyage" />
        </form>
        <form action="{{ url_for('supprimerCompte') }}">
            <input type="submit" value="Supprimer votre compte client" />
        </form>
    </nav>
      <article>
        <br>
  <form action="http://localhost:5000/voyagesupp" method="post">
    <label for="id_client">identifiant client</label>
    <input type="number" name="id_client" id="id_client" placeholder="Entrez votre identifiant client..." required="required" min = 1 />

    <label for="nb_adultes">date</label>
    <input type="date" id="date" name="date" placeholder="Pour le ..." required="required" min="0"/>
    
    <label for="ville">Ville</label>
    <input type="text" id="ville" name="ville" placeholder="Entrez le nom de la ville..." required="required"/>

    <input type="submit" value="Envoyer" />
      </article>
</section>