<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Liste des excursions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css2.css') }}">
</head>
<header>
  <h2>Liste des excursions</h2>
</header>

<section>
    <nav>
        <form action="{{ url_for('creer_compte') }}">
            <input type="submit" value="Créer un compte client" />
        </form>
        <form action="{{ url_for('affichedestinations') }}">
            <input type="submit" value="Consulter les destinations " />
        </form>
        <form action="{{ url_for('afficheExcursion') }}">
            <input type="submit" value="Consulter les excursions " />
        </form>
        <form action="{{ url_for('affichelogement') }}">
            <input type="submit" value="Consulter les Hotels " />
        </form>
        <form action="{{ url_for('ajoutvoyage') }}">
            <input type="submit" value="Ajouter un voyage " />
        </form>
        <form action="{{ url_for('ajoutExcursion') }}">
            <input type="submit" value="Ajouter une excursion au voyage" />
        </form>
        <form action="{{ url_for('consultervoyage') }}">
            <input type="submit" value="Consulter les voyages à votre nom" />
        </form>
        <form action="{{ url_for('consulterExcursion') }}">
            <input type="submit" value="Consulter les exursions à votre nom" />
        </form>
        <form action="{{ url_for('supprimer') }}">
            <input type="submit" value="Supprimer un voyage" />
        </form>
        <form action="{{ url_for('supprimerCompte') }}">
            <input type="submit" value="Supprimer votre compte client" />
        </form>
    </nav>
      <article>
    <table class = tableau-style>
    <thead>
    <tr>
        <th>id logement </th>
        <th>id ville </th>
        <th>Hotel </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>20</td>
            <td>1</td>
            <td>Hotel des champs elysee</td>
        </tr>
        <tr>
            <td>21</td>
            <td>7</td>
            <td>Le Negresco</td>
        </tr>
        <tr>
            <td>22</td>
            <td>2</td>
            <td>Hotel Vier Jahreszeiten Kempinski Munich</td>
        </tr>
        <tr>
            <td>23</td>
            <td>8</td>
            <td>Hotel Adlon Kempinski Berlin</td>
        </tr>
        <tr>
            <td>24</td>
            <td>3</td>
            <td>JK Place Roma</td>
        </tr>
        <tr>
            <td>25</td>
            <td>19</td>
            <td>Bauer Palazzo</td>
        </tr>
        <tr>
            <td>26</td>
            <td>4</td>
            <td>The Ritz London</td>
        </tr>
        <tr>
            <td>27</td>
            <td>9</td>
            <td>Titanic Hotel Liverpool</td>
        </tr>
        <tr>
            <td>28</td>
            <td>6</td>
            <td>Royal Mansour Marrakech</td>
        </tr>
        <tr>
            <td>29</td>
            <td>5</td>
            <td>Palais Tadertino</td>
        </tr>
        <tr>
            <td>30</td>
            <td>10</td>
            <td>Grand Hôtel Stockholm</td>
        </tr>
        <tr>
            <td>31</td>
            <td>11</td>
            <td>IceHotel</td>
        </tr>
        <tr>
            <td>32</td>
            <td>12</td>
            <td>InterContinental Ljubljana</td>
        </tr>
        <tr>
            <td>33</td>
            <td>13</td>
            <td>Barbara Piran Beach Hotel</td>
        </tr>
        <tr>
            <td>34</td>
            <td>14</td>
            <td>Hotel Sacher Wien</td>
        </tr>
        <tr>
            <td>35</td>
            <td>15</td>
            <td>JW Marriott Marquis Hotel Dubai</td>
        </tr>
        <tr>
            <td>36</td>
            <td>16</td>
            <td>St. Regis Abu Dhabi</td>
        </tr>
        <tr>
            <td>37</td>
            <td>17</td>
            <td>Grand Hôtel Stockholm</td>
        </tr>
        <tr>
            <td>38</td>
            <td>18</td>
            <td>Hotel Garden</td>
        </tr>