<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Liste des destinations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css2.css') }}">
</head>
<header>
  <h2>Liste des destinations</h2>
</header>

<section>
    <nav>
        <form action="{{ url_for('creer_compte') }}">
            <input type="submit" value="Créer un compte client" />
         </form>
         <form action="{{ url_for('affichedestinations') }}">
          <input type="submit" value="Consulter les destinations " />
      </form>
      <form action="{{ url_for('afficheExcursion') }}">
        <input type="submit" value="Consulter les excursions " />
    </form>
          <form action="{{ url_for('ajoutvoyage') }}">
              <input type="submit" value="Ajouter un voyage " />
          </form>
          <form action="{{ url_for('ajoutExcursion') }}">
            <input type="submit" value="Ajouter une excursion au voyage" />
        </form>
        <form action="{{ url_for('consultervoyage') }}">
            <input type="submit" value="Consulter les voyages à votre nom" />
        </form>
        <form action="{{ url_for('consulterExcursion') }}">
            <input type="submit" value="Consulter les exursions à votre nom" />
        </form>
        <form action="{{ url_for('supprimer') }}">
            <input type="submit" value="Supprimer un voyage" />

        <form action="{{ url_for('supprimerCompte') }}">
            <input type="submit" value="Supprimer votre compte client" />
        </form>
    </nav>
      <article>
    <table class = tableau-style>
    <thead>
    <tr>
        <th>id ville </th>
        <th>Pays </th>
        <th>Ville </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>France</td>
            <td>Paris</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Allemagne</td>
            <td>Munich</td>
        </tr><tr>
            <td>3</td>
            <td>Italie</td>
            <td>Rome</td>
        </tr><tr>
            <td>4</td>
            <td>Angleterre</td>
            <td>Londres</td>
        </tr><tr>
            <td>5</td>
            <td>Maroc</td>
            <td>Igoudman</td>
        </tr><tr>
            <td>6</td>
            <td>Maroc</td>
            <td>Marrackech</td>
        </tr><tr>
            <td>7</td>
            <td>France</td>
            <td>Nice</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Allemagne</td>
            <td>Berlin</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Angleterre</td>
            <td>Liverpool</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Suede</td>
            <td>Stockholm</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Suede</td>
            <td>Kiruna</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Slovenie</td>
            <td>Ljubljana</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Slovenie</td>
            <td>Piran</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Autriche</td>
            <td>Vienne</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Emirats Arabes Unis</td>
            <td>Dubai</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Emirats Arabes Unis</td>
            <td>Abu dabi</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Italie</td>
            <td>Venise</td>
        </tr>
        
    </tbody>


</table>
</article>
</section>